@import "../../Styles/common.scss";

.Cart {
  margin: 181px auto 50px auto;
  max-width: 1440px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;

  &.hideCart {
    display: none;
  }
  h2 {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: #111111;
  }

  h4 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #666;
  }

  .shoppingContent {
    width: 100%;
    display: flex;
    font-size: 14px;

    .contentList {
      width: calc(100% - 420px);
      margin-right: 80px;
      .delteAll {
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        text-align: left;
        text-decoration: underline;
        padding: 30px 0;
      }

      .eachList {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 10px;
        border-bottom: 1px solid $borderColor;

        .imgAndInformation {
          display: flex;
          justify-content: space-between;

          img {
            width: 110px;
            height: 110px;
            margin-right: 70px;
          }

          .productInfo {
            text-align: left;
            font-size: 14px;
            justify-items: end;
            width: 260px;

            .name {
              font-weight: bold;
              margin-bottom: 20px;
            }

            .style,
            .size,
            .quantity {
              margin-bottom: 10px;
            }

            .addWishListAndBuyLater {
              display: flex;
              color: #666;
              font-size: 12px;
              margin-top: 30px;
              .addWishList {
                margin-right: 30px;
              }
            }
          }
        }

        .optionAndPrice {
          width: 300px;
          display: flex;
          justify-content: space-between;

          .optionChange {
            color: #666;
            text-decoration: underline;
          }

          .priceContainer {
            display: flex;
            .price {
              margin-right: 35px;
              .originalPrice {
                text-decoration: line-through;
                margin-bottom: 15px;
              }

              .discountedPrice {
                color: $orangeColor;
              }
            }
          }
        }
      }
    }

    .orderScheduledAmount {
      width: 420px;
      border: 1px solid $borderColor;
      text-align: left;
      font-size: 14px;

      h2 {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #e5e5e5;
        font-size: 16px;
        font-weight: bold;
        padding-left: 20px;
        min-height: 60px;
      }

      .CommodityAmount,
      .expectedShip,
      .commodityDiscount,
      .orderDiscount,
      .totalPayalbeAmount,
      .orderingButton {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 25px;
        font-weight: bold;
      }

      .CommodityAmount {
        div {
          span:nth-child(1) {
            margin-right: 15px;
            text-decoration: line-through;
            color: #a5a5a5;
          }
        }
      }

      .commodityDiscount {
        span:last-child {
          color: $orangeColor;
        }
      }

      .orderDiscount {
        span:last-child {
          color: $orangeColor;
        }
      }

      .totalPayalbeAmount {
        span:first-child {
          font-size: 18px;
        }

        span:last-child {
          font-size: 20px;
          color: $orangeColor;
        }
      }

      .orderingButton {
        padding-right: 20px;
        button {
          width: 100%;
          height: 48px;
          background-color: $orangeColor;
          color: white;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  .emptyCart {
    &.hideEmptyCart {
      display: none;
    }
    h2 {
      padding: 0;
      margin: 0 0 15px 0;
      font-size: 28px;
      font-weight: bold;
      line-height: 24px;
      font-weight: bold;
      letter-spacing: -0.2px;
      color: #111111;
    }

    h4 {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #666;
    }

    .Content {
      border-top: solid 1px $borderColor;
      border-bottom: solid 1px $borderColor;
      padding: 40px 0;

      img {
        width: 60px;
        height: 80px;
      }

      div {
        margin-top: 35px;
        margin-bottom: 15px;
      }

      button {
        width: 141px;
        height: 40px;
        background-color: #111111;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
