@import "../../Styles/common.scss";

.SignUp {
  .section {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0px 20px;

    div {
      .signUpText {
        margin-bottom: 40px;

        h2 {
          margin: 15px 0px;
          text-align: center;
          font-weight: 500;
          font-size: 24px;
          font-family: navCategoryFont;
        }

        p {
          font-size: 15px;
          line-height: 20px;
          font-family: signUpPageFont;
          text-align: center;
          color: #999999;
        }
      }

      .coSignConnect {
        margin-bottom: 35px;
        text-align: center;

        .kakaoSignUp {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 38px;
          margin-bottom: 10px;
          border-radius: 3px;
          background-color: #feed33;
          cursor: pointer;

          .kakaoLogo {
            position: absolute;
            left: 10px;
            width: 24px;
            height: 25px;
          }
        }

        .faceBookSignUp {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 38px;
          margin-bottom: 10px;
          border-radius: 3px;
          background-color: #22548a;
          color: #ffffff;
          cursor: pointer;

          .faceBookLogo {
            position: absolute;
            left: 10px;
            width: 24px;
            height: 25px;
          }
        }
      }

      .orContainer {
        display: flex;
        justify-content: space-between;
        height: 20px;
        margin-bottom: 35px;

        .orLine {
          display: inline-block;
          width: 150px;
          height: 50%;
          border-bottom: 1px solid #ccc;
        }

        .orText {
          font-size: 14px;
          font-family: signUpPageFont;
          color: #606060;
        }
      }

      div {
        form {
          .inputCenter {
            margin-bottom: 15px;

            .inputBox {
              width: 100%;
              height: 38px;
              padding: 9px 12px;
              border: 1px solid #e5e5e5;
              border-radius: 2px;
              outline: none;

              &.error {
                border: 1px solid red;
              }

              &::placeholder {
                font-size: 14px;
                font-family: signUpPageFont;
                color: #999999;
              }
            }

            .errorMsg {
              display: block;
              margin-top: 8px;
              font-size: 10px;
              font-family: signUpPageFont;
              color: red;

              &.hide {
                display: none;
              }
            }
          }

          .termsContainer {
            margin: 30px 0px;

            .termsBox {
              display: flex;
              justify-content: space-between;
              margin-bottom: 7px;

              .termsTitle {
                font-weight: bold;
                font-size: 11px;
                font-family: navCategoryFont;
              }

              .termsText {
                font-size: 11px;
                font-family: signUpPageFont;
              }
            }

            .termsContent {
              max-height: 110px;
              margin-bottom: 12px;
              border: 1px solid #d1d1d1;
              overflow-y: scroll;

              p {
                font-size: 11px;
                font-family: signUpPageFont;
                color: #111;

                b {
                  font-weight: bold;
                }
              }

              td {
                border: 1px solid #d1d1d1;
              }
            }

            .termsCheck {
              .checkBox {
                margin-right: 8px;

                .checkText {
                  font-size: 14px;
                  font-family: signUpPageFont;
                }
              }
            }
          }

          .personalAgree {
            margin: 30px 0px;

            .personalTitle {
              padding-bottom: 8px;
              font-size: 11px;
              font-family: navCategoryFont;
            }
          }

          .personalInfo {
            margin-bottom: 12px;
            font-size: 11px;
            font-family: signUpPageFont;

            tr {
              border: 1px solid #d1d1d1;

              th {
                display: table-cell;
                height: 20px;
                padding: 10px 10px;
              }

              td {
                display: table-cell;
                min-width: 76px;
                height: 20px;
                padding: 10px 10px;

                strong {
                  font-size: 13px;
                  font-weight: bold;
                }
              }
            }
          }

          .personalCheck {
            margin: 15px 0px;

            .personalBox {
              margin-right: 8px;

              .personalText {
                font-size: 14px;
                font-family: signUpPageFont;
              }
            }

            .personalSubInfo {
              padding-top: 8px;
              font-size: 11px;
              font-family: signUpPageFont;
            }
          }

          .selectInfoContainer {
            .selectInfoTitle {
              font-size: 11px;
              font-weight: bold;
              font-family: "Helvetica LT W01 Roman", "Apple SD Gothic Neo",
                "Noto Sans KR", "Malgun Gothic", "MalgunGothic", Dotum, serif,
                Arial, Helvetica;
            }

            tr {
              border: 1px solid #d1d1d1;

              th {
                display: table-cell;
                height: 20px;
                padding: 10px 10px;
                font-size: 11px;
                font-family: signUpPageFont;
                color: #999999;
              }

              td {
                display: table-cell;
                min-width: 76px;
                height: 20px;
                padding: 10px 10px;
                font-size: 11px;
                font-family: signUpPageFont;
                color: #111;

                strong {
                  font-size: 13px;
                  font-weight: bold;
                }
              }
            }

            .selectInfoCheck {
              margin: 30px 0px;

              .selectInfoBox {
                margin-right: 8px;
              }

              .selectInfoText {
                font-size: 14px;
                font-family: signUpPageFont;
              }
            }
          }
        }
      }

      .signUpBtnBox {
        margin-bottom: 50px;

        .SignUpText {
          position: relative;
          @include flexCenter();
          width: 100%;
          height: 38px;
          margin-bottom: 10px;
          border-radius: 3px;
          border: none;
          outline: none;
          background-color: #000000;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
