$borderColor: #e5e5e5;
$backgroundColor: #ffffff;
$changePoint: 765px;
$orangeColor: #fa5402;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: $backgroundColor;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBox($direction, $jc) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
}
