.SortingBoard {
  position: absolute;
  margin: 10px 0 0 -80px;
  padding: 0 30px 20px 60px;
  max-height: 500px;
  text-align: right;
  border-radius: 10%;
  opacity: 1;
  transition: all 0.3s ease-in;
  background-color: #ffffff;

  &.isActive {
    max-height: 0;
    opacity: 0;
    transition: 0.25s;
  }
  p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    &:hover {
      opacity: 0.5;
    }
  }
}
