.MenShoesShoes {
  &.isActive {
    padding-top: 120px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 32.5%;
      margin-left: 9px;
    }

    .plate {
      margin-bottom: 100px;

      img {
        width: 100%;
        cursor: pointer;
      }

      .subPlate {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;

        .infoSubPlate {
          .shoesTitle {
            font-size: 16px;
          }

          .shoesDetail {
            padding-top: 8px;
            font-size: 16px;
            color: #8d8d8d;
          }

          .shoesColorSelection {
            font-size: 16px;
            color: #8d8d8d;
            div {
              margin-top: 15px;
            }
          }
        }

        .shoesPrice {
          font-size: 16px;
        }
      }
    }
  }
}
